{% extends "global/base.html" %}
{% load static %}

{% block servicos_banner %}

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'global/img/banner1.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'global/img/banner2.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'global/img/banner3.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'global/img/banner4.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'global/img/banner5.png' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock servicos_banner %}


{% block servicos %}

  <div class="accordion" id="accordionPanelsStayOpenExample">
    <h1 class="title-servicos">Nossos Serviços:</h1>
    <div id="container-ext-servicos">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              CORTE DE CABELO &nbsp &nbsp; <img src="{% static 'global/img/icons-arrow.png' %}" alt=""> <span class="price">&nbsp &nbsp£39</span>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
              Uma consulta completa, onde elaboramos o melhor visual para você. Seguida de uma lavagem, corte e finalização com os melhores produtos para combinar perfeitamente com seu estilo de vida.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              COMPRIMENTO MÉDIO E LONGO &nbsp &nbsp; <img src="{% static 'global/img/icons-arrow.png' %}" alt=""> <span class="price">&nbsp &nbsp£45</span>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
              Aqui guardamos a máquina, pois esta é para os cabelos mais longos. Durante nossa consulta, garantiremos que sua juba majestosa seja mantida. Cuidadosamente lavado, cortado no ajuste perfeito e finalizado com os produtos ideais para combinar com seu visual e estilo de vida.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              APENAS LATERAIS &nbsp &nbsp; <img src="{% static 'global/img/icons-arrow.png' %}" alt=""> <span class="price">&nbsp &nbsp £27</span>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
              Este é para raspar a cabeça ou dar apenas um trato nas laterais.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
              RESTYLE &nbsp &nbsp; <img src="{% static 'global/img/icons-arrow.png' %}" alt=""> <span class="price">&nbsp &nbsp £50</span>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
            <div class="accordion-body">
              Quer mudar seu visual ou simplesmente não sabe o que fazer com seu estilo atual? Então este é para você! Tempo de consulta estendido, seguido de lavagem e corte. Finalizado com os produtos perfeitos para combinar com seu look, além de conselhos de estilo para você se adequar ao seu novo visual.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
              BARBA CURTA &nbsp &nbsp; <img src="{% static 'global/img/icons-arrow.png' %}" alt=""> <span class="price">&nbsp &nbsp £15</span>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
            <div class="accordion-body">
              Um retoque rápido para barbas mais curtas. Modelagem, fade e escultura com perfeição. Finalizado com toalha quente e óleo para barba.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
              BARBA LONGA &nbsp &nbsp; <img src="{% static 'global/img/icons-arrow.png' %}" alt=""> <span class="price">&nbsp &nbsp £20</span>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
            <div class="accordion-body">
              Para barbas mais longas, que precisam de uma renovação. Esculpida à perfeição, trazemos o seu orgulho e a sua alegria de volta. Finalizado com toalha quente e óleo para barba.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
              COMBO: CORTE DE CABELO + BARBA CURTA &nbsp &nbsp; <img src="{% static 'global/img/icons-arrow.png' %}" alt=""> <span class="price">&nbsp &nbsp £50</span>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse">
            <div class="accordion-body">
              Serviços de corte de cabelo mais barba curta. Ambos cortados e esculpidos com perfeição.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseEight">
              COMBO: CORTE BUZZCUT + BARBA CURTA &nbsp &nbsp; <img src="{% static 'global/img/icons-arrow.png' %}" alt=""> <span class="price">&nbsp &nbsp £42</span>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse">
            <div class="accordion-body">
              Serviços de corte buzzcut (raspado) mais barba curta. Ambos cortados e esculpidos com perfeição..
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock servicos %}