{% extends "global/base.html" %}

{% block comentarios %}

<div class="container-feedback">

    <h1 class="title-feedback">Feedback</h1>

    <form class="form" action="{% url 'gravar' %}" method="post">
        {% csrf_token %}

        <div class="input-comentario"></div>

            <label for="nome">Nome:</label>
            <input type="text" value="{{nome}}" name="nome" placeholder="Informe seu nome aqui" class="form-control form-nome {% if nome_error %} is-invalid {% endif %}">

            <label for="comentario">Comentário:</label>
            <textarea type="text" value="{{comentario}}" name="comentario" placeholder="Escreva aqui seu comentário" class="form-control form-coment {% if comentario_error %} is-invalid {% endif %}"></textarea>

        {% if msg_error %}
        <div class="alert alert-danger" role="alert">
            {{msg_error}}
        </div>
        {% endif %}
        
        <button class="btn btn-form">Enviar</button>
    </form>
</div>


<div class="container-feedback-list mt-5">
    <h2 class="title-cadastro">Comentários</h2>
    <table class="table table-dark table-hover">
        <thead class="coment-table">
            <tr class="table-primary">
                {% comment %} <th>id</th> {% endcomment %}
                <th class="table-name">Nome</th>
                <th class="table-coment">Comentários:</th>
                {% comment %} <td>Ações</td> {% endcomment %}
            </tr>
        </thead>
        {% for pessoa in pessoas %}
        <tr>
            {% comment %} <td>{{pessoa.id_pessoa}}</td> {% endcomment %}
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.comentario}}</td>          
            {% comment %} <td>
                <a href="{% url 'editar' pessoa.id_pessoa %}">Editar</a>
                <a href="{% url 'apagar' pessoa.id_pessoa %}">Excluir</a>
            </td> {% endcomment %}
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock comentarios %}

