{% extends "global/base.html" %}

{% block comentarios %}

<div class="container-feedback-list mt-5">
    <h2>Comentários Cadastrados</h2>
    <table class="table table-striped">
        <tr>
            {% comment %} <th>id</th> {% endcomment %}
            <th>nome</th>
            <th>comentario</th>
            <td>Ações</td>
        </tr>
        {% for pessoa in pessoas %}
        <tr>
            {% comment %} <td>{{pessoa.id_pessoa}}</td> {% endcomment %}
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.comentario}}</td>          
            <td>
                <a href="{% url 'editar' pessoa.id_pessoa %}">Editar</a>
                <a href="{% url 'apagar' pessoa.id_pessoa %}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock comentarios %}