<!DOCTYPE html>
<html lang="pt-BR">
<head>
  {% include 'global/partials/head.html' %}
</head>
<body>
  {% include 'global/partials/menu.html' %}

  {% block banner %}{% endblock banner %}
  {% block servicos_banner %}{% endblock servicos_banner %}

<article class="container home-content">
  {% block texto_home %}{% endblock texto_home %}
  {% block team %}{% endblock team %}
</article>

<article class="container servicos-content">
  {% block servicos %}{% endblock servicos %}
</article>

<article class="container local-content">
  {% block local %}{% endblock local %}
  {% block endereco %}{% endblock endereco %}
</article>

<article class="container horarios-content">
  {% block horarios %}{% endblock horarios %}
</article>

<article class="container comentarios-content">
  {% block comentarios %}{% endblock comentarios %}
</article>

</body>
  {% include 'global/partials/footer.html' %}
</html>