.container-feedback {
    width: 70%;
    margin: 3rem auto;
    background-color: #212121;
    border-radius: 1.5rem;
}

.title-feedback {
    color: #efe81c;
    background-color: #0000ff;
    font-family: "wheaton-capitals.capitals-regular";
    margin-bottom: 2rem;
    text-align: center;
    padding: 1.5rem 0 1.5rem;
    /* border-radius: 1rem; */
    border-radius: 1.5rem 1.5rem 0 0;
    border-bottom: .5rem ridge #efe81c;
}

.container-feedback label {
    color: #fff;
    font-family: "wheaton-capitals.capitals-regular";
    margin-bottom: .7rem;
    padding-left: .9rem;
}

.form {
    width: 90%;
    margin: 3rem auto;
    padding-bottom: 3rem;   
}

.form-control {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    color: #000;
    background-color: #eaeaea;
}

.form-coment {
    margin-bottom: 3rem;
}

.btn-form {
    background-color: #353535;
    border-right: 0.2rem solid #aeaeae;
    border-bottom: 0.1rem solid #aeaeae;
    color: #fff;
    font-size: 1.6rem;
    padding: .3rem 1rem .5rem;
    transition: transform 0.2s ease;
    margin-left: .8rem;
    padding: .5rem 1.8rem
  }
  
  .btn-form:hover {
    background-color: #ff7ee7;
    transform: scale(1.02) translateX(1px) translateY(-0.7px);
  }

  /* __________________________ */

.container-feedback-list {
    width: 70%;
    margin: 0 auto 12rem;
}

.title-cadastro {
    color: #fff;
    font-family: "wheaton-capitals.capitals-regular";
    margin: 7rem 0 2rem;
}

.table-name, .table-coment {
    font-family: "wheaton-capitals.capitals-regular";   
}