.container-local {
  width: 80%;
  background-color: #212121;
  padding: .1rem 1.5rem;
  margin: 6rem auto 3rem;
  border-radius: 2rem;
  box-shadow: 7px 7px 2px 0px #efe81c;
}

#local-map {
  position: relative;
  padding-bottom: 40.50%; 
  height: 0;
  overflow: hidden;
  max-width: 95%;
  margin: 5rem auto;
  
  
}

#local-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.address {
  font-family: "wheaton-capitals.capitals-regular";
  text-align: center;
  /* color: #efe81c; */
  color: white;
  margin-bottom: .8rem;
}

.phone {
  font-family: "wheaton-capitals.capitals-regular";
  text-align: center;
  /* color: #efe81c; */
  color: white;
  margin-bottom: 7rem;
}

.address-phone {
  justify-content: center;
}

.address img {
  height: 4rem;
}

.phone img {
  height: 4rem;
  margin-right: .5rem;
  margin-bottom: .3rem;
}

.phone, .address {
  display: flex;
  align-items: center;
  justify-content: center;
}