@import url('./home.css');
@import url('./servicos.css');
@import url('./local.css');
@import url('./horarios.css');

@font-face {
  font-family: "segoeuisl";
  src: url("../fonts/segoeuisl.ttf") format("opentype");
  /* font-weight: 400; */
  font-style: normal;
}

@font-face {
  font-family: "segoeuib";
  src: url("../fonts/segoeuib.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "wheaton-capitals.capitals-regular";
  src: url("../fonts/wheaton-capitals.capitals-regular.otf") format("opentype");
  /* font-weight: 400; */
  font-style: normal;
}

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "segoeuisl";
  font-size: 1.6rem;
  font-weight: 400;
  list-style: none;
}

body {
  background-color: #000;
}

.custom-navbar {
  background-color: black;
}

.img-logo {
  margin: 0.4rem;
  margin-left: 1rem;
  width: 12rem;
}

.img-logo-resp {
  display: none;
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.navbar-nav {
  gap: 3rem;
}

.nav-link {
  padding: 0;
  margin: 0;
}

.navbar-toggler-icon {
  width: 3.5rem;
  height: 3.5rem;
}

.custom-navbar-text {
  color: #fff !important;
  /* color: #f8f248 !important; */
  font-size: 2.2rem;
  padding-bottom: .2rem;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  letter-spacing: 0.1rem;
  font-family: "wheaton-capitals.capitals-regular";
  transition: transform 0.2s ease;
}

.custom-navbar-text:hover {
  color: #efe81c !important;
  transform: scale(1.08);
  background-color: #0000ff;
  border-radius: .5rem;
  border-bottom: .2rem solid #efe81c;
  border-right: .2rem solid #efe81c;
}

#carouselExampleAutoplaying {
  width: 90%;
  margin: 0 auto;
}

.carousel-inner img {
  width: 100%; 
  height: auto;
  margin-right: 0;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(239, 232, 28)" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.container-footer {
  width: 90%;
  margin: 0 auto;
}

.footer {
  width: 65%;
  margin: 1rem auto 4rem;

}

footer ul {
  gap: 1rem;
  margin-bottom: 0 !important;
}

.text-body-secondary img:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.text-body-secondary {
  color: #fff !important;
}

/* ____________________ */



@media (max-width: 992px) {
  .navbar-nav .nav-item:last-child {
    /* margin-bottom: 1rem; */
    padding-bottom: 2.5rem;
  }

  .img-logo-resp {
    display: block;
    margin: 0.4rem;
    margin-left: 1rem;
    width: 20rem;
  }

  .img-logo {
    display: none;
  }
}

@media (min-width: 1440px) {
  #carouselExampleAutoplaying {
    max-width: 144rem;
  }
}