{% load static %}

<div class="container-footer border-top">
  <footer class="d-flex justify-content-between footer">
    <div class="d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Shortier Barber</span>
    </div>
    <ul class="d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/shortiesbarber" target="_blank"><img src="../../static/global/img/instagram_pixel_logo_icon_181922.png" alt=""></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/shortiesbarber" target="_blank"><img src="../../static/global/img/facebook_pixel_logo_icon_181920.png" alt=""></a></li>
    </ul>
  </footer>
</div>