{% extends "global/base.html" %}

{% block banner %}
  {% include 'global/partials/banner.html' %}
{% endblock banner %}

{% block local %}
<div id="local-map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2480.788900598141!2d-0.05554118255615235!3d51.5537698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761d3beb762d5b%3A0x197f6b792b07e9f!2sShorties%20Barber!5e0!3m2!1spt-BR!2sbr!4v1725830402281!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div>
    112 Lower Clapton Rd, Lower Clapton, London E5 0QR, Reino Unido
  <div>
</div>


{% endblock local %}